<article class="item-menu detail">
    <h2><%= poke.nombre %></h2>
    <div class="item-menu-more">
        <div>
            <img src="../<%= poke.image %>" alt="Imagen del pokefran" srcset="">
        </div>
        <p>
            <%= poke.tipo %>
        </p> 
    </div>
    <div class='formularios-detail'>
        <form method="POST"  action="/<%= poke.id %>?_method=DELETE">
            <input type="submit" value="Eliminar" name="delete" class="btnForm">
        </form>
        <form method="GET" action="/edit/<%= poke.id %>">
            <input type="submit" value="Editar" name="Editar" class="btnForm btnFormEdit">
        </form>
    </div>

</article>